<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shop Homepage - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/stylesheets/shop-homepage.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/myclass.css">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/Homepage">Homepage</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#toppage">Top
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./About">My Class</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./Awards">Awards</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container" id="toppage">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">大學生涯</h1>
        <div class="list-group">
          <a href="/Homepage" class="list-group-item">大一</a>
          <a href="./College2" class="list-group-item">大二</a>
          <a href="./College3" class="list-group-item">大三</a>
          <a href="./College4" class="list-group-item">大四</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->
<div class="col-lg-9">
    <section id="myclass-section">
        <table border="2">
          <tr>
              <th rowspan="2" colspan="2" bgcolor="#921AFF"><font color="white">谷昭賢</font></th>
              <th colspan="5" bgcolor="#000093"><font color="white">109年度第1學期課表</font></th>
          </tr>
          <tr>
              <th class="week">週一</th>
              <th class="week">週二</th>
              <th class="week">週三</th>
              <th class="week">週四</th>
              <th class="week">週五</th>
          </tr>
          <tr>
              <td class="num">1</td>
              <td class="time">8:10~9:00</td>
              <td class="clas"></td>
              <td class="clas"></td>
              <td class="clas"></td>
              <td class="clas"></td>
              <td class="clas"  rowspan="2">資管三 專業排版與設計</td>
          </tr>
          <tr>
              <td class="num">2</td>
              <td class="time">9:10~10:00</td>
              <td class="clas"></td>
              <td class="clas"></td>
              <td class="clas"></td>
              <td class="clas"></td>
          </tr>
          <tr>
              <td class="num">3</td>
              <td class="time">10:10~11:00</td>
              <td rowspan="2" class="clas">資管四 企業倫理</td>
              <td class="clas"></td>
              <td class="clas"></td>
              <td class="clas"></td>
              <td class="clas" rowspan="2">資管四 行動APP開發技術實務</td>
          </tr>
          <tr>
              <td class="num">4</td>
              <td class="time">11:10~12:00</td>
              <td class="clas"></td>
              <td class="clas"></td>
              <td class="clas"></td>
          </tr>
          <tr>
              <td class="num">5</td>
              <td class="time">12:10~13:00</td>
              <td class="clas">資工三 網路概論(實習課)</td>
              <td class="clas"></td>
              <td class="clas"></td>
              <td class="clas"></td>
              <td class="clas"></td>
          </tr>
          <tr>
              <td class="num">6</td>
              <td class="time">13:10~14:00</td>
              <td class="clas" rowspan="2">資工三 網路概論</td>
              <td rowspan="2" class="clas">資訊教育學門 網頁程式設計</td>
              <td class="clas"></td>
              <td class="clas"></td>
              <td class="clas"></td>
          </tr>
          <tr>
              <td class="num">7</td>
              <td class="time">14:10~15:00</td>
              <td class="clas" rowspan="2">男、女生體育_撞球興趣班</td>
              <td class="clas"></td>
              <td class="clas"></td>
          </tr>
          <tr>
              <td class="num">8</td>
              <td class="time">15:10~16:00</td>
              <td class="clas" rowspan="2" >資工四 資料庫</td>
              <td class="clas">資工三 網路概論</td>
              <td class="clas"></td>
              <td class="clas"></td>
          </tr>
          <tr>
              <td class="num">9</td>
              <td class="time">16:10~17:00</td>
              <td class="clas"></td>
              <td class="clas"></td>
              <td class="clas" rowspan="3">資管二 資料交換語言</td>
              <td class="clas"></td>
          </tr>
          <tr>
              <td class="num">10</td>
              <td class="time">17:10~18:00</td>
              <td class="clas">資工四 資料庫(實習課)</td>
              <td class="clas">資管四 資訊技術/管理專業認證</td>
              <td class="clas"></td>
              <td class="clas">資管四 專題製作(實習課)</td>
          </tr>
          <tr>
              <td class="num">11</td>
              <td class="time">18:10~19:00</td>
              <td class="clas">資管四 專題製作</td>
              <td class="clas"></td>
              <td class="clas"></td>
              <td class="clas"></td>
          </tr>
          <tr>
              <td class="num">12</td>
              <td class="time">19:10~20:00</td>
              <td class="clas"></td>
              <td class="clas"></td>
              <td class="clas" rowspan="2">資管四 巨量資料探勘</td>
              <td class="clas"></td>
              <td class="clas"></td>
          </tr>
          <tr>
              <td class="num">13</td>
              <td class="time">20:10~21:00</td>
              <td class="clas"></td>
              <td class="clas"></td>
              <td class="clas" rowspan="2">資管四 企業資訊科技應用實務</td>
              <td class="clas"></td>
          </tr>
          <tr>
              <td class="num">14</td>
              <td class="time">21:10~22:00</td>
              <td class="clas"></td>
              <td class="clas"></td>
              <td class="clas"></td>
              <td class="clas"></td>
          </tr>
              </table>
      </section>
</div>
      

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Zhao-XIan Gu 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.bundle.min.js"></script>

</body>

</html>


